body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.logo {
  width: 100px;
  height: auto;
  display: inline-block;
  margin-right: 20px;
}

header {
  background-color: #f7f7f7;
  padding: 20px;
  text-align: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
}

section {
  padding: 50px;
}

.cover-image {
  height: 600px;
  background-image: url("https://media.istockphoto.com/id/157375734/photo/large-group-of-baby-chicks-on-chicken-farm.webp?b=1&s=170667a&w=0&k=20&c=DmicWClZF_3XhJGZSVNUbVyowV435-TbnqD91Xx6YSk=");
  background-size: cover;
  background-position: center;
  position: relative;
}

.cover-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  z-index: 1;
}

.cover-text h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.cover-text p {
  font-size: 18px;
}

.feature {
  margin-bottom: 50px;
}

.feature img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.team-members ul {
  list-style-type: none;
  padding: 0;
}

.team-members ul li {
  margin-bottom: 10px;
}
